---
import Layout from '@/layouts/Layout.astro'
import { getAllTags } from '@/utils/content'

const allTags = await getAllTags()
---

<Layout>
  <div class="flex flex-wrap gap-4">
    {allTags.map(tag => (
      <a href={`/tags/${tag}/`}>
        <button class="border border-secondary rounded-full px-2.5 py-1 text-3.6 c-secondary font-serif hover:border-primary hover:c-primary">
          {tag}
        </button>
      </a>
    ))}
  </div>
</Layout>
